body {
  color: #f6f7f9;
  background-color: #23272f;
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:active {
  color: #58c4dc;
  text-decoration: none;
}

a:hover,
a.is-active {
  text-decoration: none;
}

a,
input,
span {
  display: block;
  margin: 0.5rem 0;
}
