/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-tip-lightest: #bcc0ff;
  --vp-c-warning-lightest: #ffe2a9;
  --vp-c-danger-lightest: #ff9aa7;
  --vp-c-important-lightest: #d7c0ff;
  --vp-c-tip-dimm: rgba(100, 108, 255, 0.08);
  --vp-c-warning-dimm: rgba(234, 179, 8, 0.08);
  --vp-c-danger-dimm: rgba(244, 63, 94, 0.08);
  --vp-c-important-dimm: rgba(159, 122, 234, 0.08);
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */
:root {
  --vp-custom-block-tip-border: var(--vp-c-indigo-2);
  --vp-custom-block-tip-text: var(--vp-c-indigo-2);
  --vp-custom-block-tip-bg: var(--vp-c-tip-dimm);

  --vp-custom-block-warning-border: var(--vp-c-yellow-2);
  --vp-custom-block-warning-text: var(--vp-c-yellow-2);
  --vp-custom-block-warning-bg: var(--vp-c-warning-dimm);

  --vp-custom-block-danger-border: var(--vp-c-red-2);
  --vp-custom-block-danger-text: var(--vp-c-red-2);
  --vp-custom-block-danger-bg: var(--vp-c-danger-dimm);

  --vp-custom-block-important-border: var(--vp-c-purple-2);
  --vp-custom-block-important-text: var(--vp-c-purple-2);
  --vp-custom-block-important-bg: var(--vp-c-important-dimm);
}

.dark {
  --vp-custom-block-tip-text: var(--vp-c-tip-lightest);
  --vp-custom-block-warning-text: var(--vp-c-warning-lightest);
  --vp-custom-block-danger-text: var(--vp-c-danger-lightest);
  --vp-custom-block-important-text: var(--vp-c-important-lightest);
}

/* Transition by color instead of opacity */
.dark .vp-doc .custom-block a {
  transition: color 0.25s;
}

.dark {
  --vp-c-gutter: #2e2e32;
}

.vp-doc table {
  display: table;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* .stepper-content div[class*='language-'] {
    width: calc(100% + 3rem);
    margin-left: -3rem;
  } */
}
